*{
  font-family: Arial, Helvetica, sans-serif;
}

#container{
  width:100%;
  display:flex;
  text-align:center;
  align-content:space-between;
}

.header{
  color:red;
}

.btn{
  height:50px;
  width:80px;
  text-align:center;
  border: 2px solid black;
  display:inline;
  cursor: pointer;
  transition:0.4s;
  margin-left:200px;
}

.btn:hover{
  height:60px;
  width:90px;
  text-align:center;
  border: 2px solid black;
  display:inline;
  cursor: pointer;
}
